#container {
    width: 80%;
    margin: auto;
    overflow-x: hidden;
}

h2{
    padding: 4em;
    text-align: center;
}

.images-lightbox{
    display: flex;
    /* width: 80%; */
    gap: 3em;
    padding-top: 5em;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    padding-bottom: 5em;


    img {
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        height: 30%;
        border-radius: 2em;
        
    }
}