@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@1,9..144,700&display=swap');


:root {
    --darkpurple: #331535;
    --violet: #1a051c;
    --white: #e3e3e3;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--violet);
    color: #fde0ff;
    font-family: 'Montserrat', sans-serif;
}

.animate__animated{
    animation-fill-mode: none;
}

h1 {
    font-family: 'Fraunces', serif;
    font-style: italic;
    background-image: linear-gradient(45deg, rgb(213, 113, 252), rgb(68, 147, 250));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

header {
    background-color:var(--violet);
    padding: 50px;
}

header li {
    list-style: none;
    font-size: 1.5rem;
}

header a {
    color: var(--white);
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
}

.nav-branding {
    display: flex;
    justify-content: start;
    font-size: 5rem;
    align-items: center;

}

.nav-branding h1 {
    font-size: 2.5rem;
}

.nav-branding img {
    width: 50%;
    margin-left: 35%;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 24px; */

}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.nav-link {
    transition: 0.7s ease-in-out;

}

.nav-link:hover {
    color: rgb(213, 113, 252);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    background-image: linear-gradient(45deg, rgb(213, 113, 252), rgb(68, 147, 250));
}


.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;

}

@media(min-width:768px) {
    .nav-menu {
        margin-right: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    header li a {
        font-size: 0.95rem;
    }
  }

@media(max-width:768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 30px;
        gap: 0px;
        flex-direction: column;
        background-color: var(--violet);
        width: 100%;
        height: 150%;
        transition: 0.3s;
        /* background-image: linear-gradient(45deg, rgb(108, 57, 128), rgb(30, 72, 126)); */
        justify-content: stretch;
    }

    .nav-item {
        margin: 50px 50px;
    }

    .nav-menu.active {
        right: 0%;
    }

    .navbar {
        width: 100%;
        padding: 0 0px;
    }

    .nav-branding h1 {
        font-size: 1rem;
        visibility: hidden;
    }
    
    .nav-branding img {
        width: 40%;
        margin-left: 15%;
    }
    
    .nav-item a {
        font-size: 2rem;
        text-align: center;
    }

}