#wrapper {
    padding: 50px 100px;
    font-size: 2rem;

}

h1 {
    text-align: center;
}

h2 {
    color: var(--green);
}

.post{
    padding: 50px 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.post img{
    width: 300px;
    height: 350px;
}

.text{
     margin-left: 30px;
}

.button {
    background-color: var(--blue);
    padding: 15px 30px;
    border-radius: 20px;
    border-style: none;
    transition: all 0.25s ease-out;
    text-decoration: none;
    margin-top: 20px;
}

.button:hover {
    color: var(--white);
    background-color: var(--pink);
}

.button a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.5rem;
}

@media (max-width: 768px) {

}